@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Rubik", sans-serif;
}

/**MOBILE FIRST VERSION**/

.column-diviser {
  display: none;
}

.header {
  background-image: url("../images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
  padding: 0px 0 156px 0;
  position: relative;
}

.title {
  color: #fefff4;
  font-size: 1.57rem;
  font-weight: 500;
  padding: 26px 15px 0px 15px;
  text-align: center;
  margin-bottom: 30.5px;
}

.main__inputs {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  /*width: 100%;*/
  margin: 0 24px;
}

.input,
.btn {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  border: none;
  display: block;
  font-family: "Rubik", sans-serif;
}

.input {
  font-size: 14px; /*18px*/
  font-weight: 400;
  padding: 18.5px 0 18.5px 24px;
  border-radius: 15px 0 0 15px;
  color: var(--very-dark-gray);
  max-width: 269px;
  width: 100%;
}

.btn img {
  display: block;
  max-width: 100%;
}

.btn {
  background-color: black;
  padding: 18px 23px;
  border-radius: 0px 15px 15px 0px;
}

.map {
  background-color: black;
}

.main__results {
  position: absolute;
  z-index: 1000;
  top: 166px;
  left: calc(24px);
  right: calc(24px);
  max-width: 327px;
  /*width: 100%;*/
  margin: 0 auto;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 27px 15px 24px 15px;
}

.label,
.result {
  text-align: center;
}

.label {
  text-transform: uppercase;
  color: var(--dark-gray);
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1px;
  margin-bottom: 7px;
}

.result {
  color: var(--very-dark-gray);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.main__group-result:nth-of-type(-n + 3) {
  margin-bottom: 24px;
}

.map {
  background-color: black;
  height: 528px;
}

/*active states*/
.btn:hover {
  background-color: var(--very-dark-gray);
  cursor: pointer;
}

.input:hover {
  cursor: pointer;
}

.input:focus,
.btn:focus {
  outline: none;
}

/*breakpoint 375px*/
@media screen and (min-width: 375px) {
  .main__inputs {
    margin: 0 0;
    justify-content: center;
    width: 100%;
  }

  .main__results {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .map {
    min-height: 100vh;
    height: 100%;
  }
}

/**breakpoint 960px ou 1080px ou 1100px**/
@media screen and (min-width: 1100px) {
  .header {
    padding: 0px 0 127px 0;
  }

  .title {
    color: #ffffff;
    font-size: 1.94rem;
    line-height: 37px;
    font-weight: 500;
    padding: 29px 0px 0px 0px;
    text-align: center;
    margin-bottom: 28px;
  }

  .input {
    font-size: 18px;
    max-width: 497px;
    width: 100%;
    padding: 18px 0 18px 24px;
  }

  .label,
  .result {
    text-align: left;
  }

  .main__results {
    top: 200px;
    left: calc(24px);
    right: calc(24px);
    max-width: 1110px;
    max-height: 160px;
    width: auto;
    margin: 0 auto;
    padding: 36px 32px 34px 32px;
    display: flex;
    flex-flow: row nowrap;
  }

  .label {
    font-size: 13px;
    margin-bottom: 13px;
  }

  .result {
    font-size: 26px;
    line-height: 31px;
  }

  .column-diviser {
    display: block;
    height: 75px;
    width: 0px;
    border-left: 1px solid var(--dark-gray);
    align-self: center;
  }

  .main__group-result:nth-of-type(1) {
    margin-right: 58px;
  }

  .main__group-result:nth-of-type(1) .result {
    width: 193px;
  }

  .main__group-result:nth-of-type(2),
  .main__group-result:nth-of-type(3) {
    margin: 0 84px 0 33px;
  }

  .main__group-result:nth-of-type(2) .result,
  .main__group-result:nth-of-type(3) .result {
    width: 161px;
  }

  .main__group-result:nth-of-type(4) {
    margin: 0 0 0 33px;
  }

  .main__group-result:nth-of-type(4) .result {
    width: auto;
  }

  .result {
    height: 66px;
    overflow-y: auto;
  }
}
